@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cinzel:wght@600&family=Fredoka+One&family=Libre+Baskerville:wght@700&family=Lobster+Two:ital@1&family=Neonderthaw&display=swap");

.castCard {
  width: 12rem;
  height: 20rem;
  display: flexbox;
  padding: 0.5rem;
  border-radius: 4px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 #20bf55, 0 6px 20px 0 #01baef;
  font-family: "Lobster Two", cursive;
}

.castCard h3 {
  font-size: 16px;
}

.castCard :hover {
  cursor: pointer;
}

.castCard p {
  font-size: 14px;
}
