@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bungee&family=Concert+One&family=Indie+Flower&family=Open+Sans&family=Patrick+Hand&family=Permanent+Marker&family=Press+Start+2P&family=Shizuru&display=swap");

.card {
  width: 12rem;
  height: 18rem;
  display: flexbox;
  padding: 0.5rem;
  border-radius: 4px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 #20bf55, 0 6px 20px 0 #01baef;
  font-family: "Patrick Hand", cursive;
}

.card h3 {
  font-size: 18px;
}
