@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cinzel:wght@600&family=Fredoka+One&family=Libre+Baskerville:wght@700&family=Lobster+Two:ital@1&family=Neonderthaw&display=swap");

.searchContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.heading {
  font-family: "Lobster Two", cursive;
  margin-left: 1em;
  line-height: 2rem;
}

.searchContainer input {
  margin-left: 1em;
  width: 80%;
  height: 1rem;
  font-size: x-large;
  background-color: rgb(214, 245, 234);
  border: 2px solid grey;
  border-radius: 5px;
  padding: 1em;
  font-family: "Lobster Two", cursive;
}
.searchContainer button {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 20%;
  height: 3rem;
  font-size: larger;
  border: 2px solid grey;
  border-radius: 5px;
  font-family: "Lobster Two", cursive;
}

.searchContainer button {
  cursor: pointer;
}

.cardContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
  justify-content: center;
  font-family: "Lobster Two", cursive;
}

@media screen and (max-width: 767px) {
  .searchContainer {
    display: inherit;
    flex-direction: column;
  }
  .searchContainer button {
    margin-top: 1rem;
    margin-left: 2rem;
    width: 30%;
  }
}

@media screen and (max-width: 480px) {
  .searchContainer {
    display: inherit;
    flex-direction: column;
  }
  .searchContainer button {
    margin-top: 1rem;
    margin-left: 2rem;
    width: 30%;
  }
}
