
.card {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  width: 20em;
  height: 25em;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #20bf55, 0 6px 20px 0 #01baef;
}

.card:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
}
