@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cinzel:wght@600&family=Fredoka+One&family=Libre+Baskerville:wght@700&family=Lobster+Two:ital@1&family=Neonderthaw&display=swap");

html,
body {
  margin: 0;
  font-family: "Lobster Two", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  line-height: 1.2rem;
  letter-spacing: 1.2px;
}
