.navbar {
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  /* background: #90d5ec; */
  color: white;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar ul li {
  margin: 5px 15px;
}

.title {
  margin-top: 1rem;
  padding-left: 5rem;
  font-size: 3rem;
}

/* .title:hover {
  text-shadow: 2px solid #ff4e00;
} */

.links {
  margin-left: 4rem;
  font-size: 2rem;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
/* @media (max-width: 320px) {
  .title {
    font-size: 2rem;
  }
  .links {
    font-size: 1rem;
  }
} */
/* smartphones, Android phones, landscape iPhone */
/* @media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }
  .links {
    font-size: 1rem;
  }
} */
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
/* @media (max-width: 600px) {
  } */
/* tablet, landscape iPad, lo-res laptops ands desktops */
/* @media (max-width: 801px) {
  } */
